<ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>Mis Cuentas</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-list *ngFor="let cuenta of listaCuentas">
    <ion-card class="card" (click)="detalleCuenta()">
      <ion-card-header>
        <ion-card-subtitle>Tipo Cuenta</ion-card-subtitle>
        <ion-card-title><ion-icon name="wallet-outline"></ion-icon> {{cuenta.nombre}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-label>
          <h2>Numero Cuenta : {{cuenta.numeroCuenta}}</h2>
          <h3>Estado : {{cuenta.estado}}</h3>
          <p>Saldo : ${{cuenta.saldo}}</p>
        </ion-label>
      </ion-card-content>
    </ion-card>
  </ion-list>

</ion-content>
